html {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    padding: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    padding: 1.5rem 1.5rem;
    margin: auto;
    overflow: hidden;
    transition: all 0.3s ease;
}

.button-dark, .button-white, .button-to-top {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.button-dark {
    color: #BDBEC1;
    background-color: darkslategray;
    border: 2px solid #BDBEC1;
}
  
.button-white {
    color: #111828;
    background-color: #FFFFFF;
}

.button-small {
  padding: 0.5rem 1rem;
}

.button-white:hover {
    transition: all 0.3s ease;
    scale: 1.05;
}
.button-dark:hover {
    color: white;
    scale: 1.05;
}

.button-to-top {
    color: white;
    background-color: darkgray;
    border-radius: 50%;
}

.button-to-top:hover {
    transition: all 0.3s ease;
    background: darkgray;
    scale: 1.05;
}

header nav {
    width: 100%;
    position: fixed;
    top: 15px;
    z-index: 99;
}

header nav .nav-bar {
    background-color: #111214;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 9999px;
    max-width: fit-content;
    margin: 0 auto;
}

/* Make opacity 0.95 when past hero section but 1 on hover */

header nav .nav-bar:hover {
    opacity: 1;
}

header nav .nav-bar .nav-links {
    display: flex;
}

header nav .nav-bar .nav-links li {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
}

header nav .nav-bar .nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
}

header nav .nav-bar .nav-links .link.active::after {
    width: 100%;
}

header nav .nav-bar .nav-links .link::after {
    content: "";
    position: relative;
    display: block;
    width: 0%;
    height: 2px;
    top: 3px;
    margin: auto;
    background: darkgray;
    transition: width 0.3s ease;
}

header nav .nav-bar .nav-links .link:hover::after {
    width: 100%;
}

.home {
    background: #181a1b;
    background-size: cover;
    min-height: 80vh;
    position: relative;
}

.home .hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home .hero .h1 {
    color: white;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 400;
}

.home .hero .p {
    color: #dcdcdc;
    line-height: 1.6;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
}

.home .hero .hero-buttons {
    white-space: nowrap;
    text-align: center;
    margin-top: 1rem;
}

.projects {
    background: white;
    padding: 3rem 0;
}

.projects h2 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.projects .project-row {
    display: flex;
    margin-bottom: 3rem;
    background-color: rgb(243 244 246);
    border-color: rgba(0, 0, 0, 0.05);
    border-width: 1px;
    border-radius: 0.5rem;
}

.projects .project-row:hover {
    background-color: rgb(229 231 235);
}

.projects .project-row .project-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 2.5rem 1.75rem;
}

.projects .project-row .project-left h3 {
    font-size: 1.25rem;
}

.projects .project-row .project-left .project-links {
    margin-top: 1rem;
}

.projects .project-row .project-right {
    width: 50%;
    padding: 2.5rem 2.5rem 1.75rem;
}

.projects .project-row .project-right img {
    width: 100%;
    border: 1px solid lightgray;
}

.resume {
    background: white;
    padding: 3rem 0;
}

.resume .container {
    max-width: 900px;
}

.resume .container h2 {
    text-align: center;
    color: black;
    padding-top: 1rem;
    margin-bottom: 3rem;
}

.resume .container .resume-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
    padding: 40px;
    border-radius: 3px;
}

.resume .container .resume-card .resume-img {
    width: 100%;
    padding: 0 2.5rem;
}

.resume .container .resume-card .resume-img img {
    width: 100%
}

.resume .container .resume-card .download {
    text-align: center;
}

.contact {
    background: white;
    padding: 3rem 0;
    margin-bottom: 10rem;
}

.contact h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.contact .contact-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.contact .contact-cards .card {
    background: #fff;
    width: 260px;
    margin: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
    border-radius: 3px;
}

.contact .contact-cards .card a {
    color: darkslategray;
}

.contact .contact-cards .card i {
    font-size: 3.5rem;
    color: darkslategray;
    margin-bottom: 1rem;
    transition: 0.4s;
}

.contact .contact-cards .card i:hover {
    transform: translateY(-20%);
}

#backToTopButton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0.5rem 0.9rem;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
}